# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
#media/

# Static files
#static/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Private keys
*.pem

# CSV files
*.csv

# Node modules
node_modules/

# Sphinx documentation
docs/_build/